.container-header{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 2;
}
.brand-img .field-img{
    height:49px;
    margin-left:7px;
}

.left-auto{
    margin-left: auto!important;
}

.btn-usage{
    margin-top:5px;
}

.btn-usage .btn-primary {
    width: 108px !important;
    height: 33px;
    background-color: #1a61ad !important;
}

.btn-usage .btn{
    padding:unset !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    margin-left: -100px !important;
}


/* For larger screens */
@media screen and (min-width:1025px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-left: -103px;
    }
}


